{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12 text-center mb-3 text-primary">
            <h1>Ajout d'une figure</h1>
        </div>
    </div>

    <div class="mb-3">
        {{ form_start(figureForm)}}
            {{ form_widget(figureForm)}}
            <input type="submit" class="btn btn-primary" value="Valider">
        {{ form_end(figureForm)}}
    </div>
{% endblock %}

{% block title %}Ajout d'une figure{% endblock %}

