{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | add media {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 text-center mb-3 text-primary">
            <h1>Ajout d'un media</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            {{ form_start(mediaForm)}}
            {{ form_widget(mediaForm)}}
            <input type="submit" class="btn btn-primary" value="ajouter">
            {{ form_end(mediaForm)}}
        </div>
    </div>
{% endblock %}

